title, head {display: block}

title
{
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 2em; text-align:center;
}

:root
{
  font-family: "Source Sans Pro";
  background-color: #000;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  min-height: 100vh;
}


.key
{
  position: absolute;
  /*background-color: #808080;
  background: radial-gradient(circle closest-side, #808080 0%,  #808080 50%,  transparent 50%,  transparent 100%);*/
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.key.pressed
{
  border: #fff 4px solid;
  /*background: radial-gradient(circle closest-side,  #fff 0%,  #fff 50%,  transparent 50%,  transparent 100%);*/
  margin: -2px;
  z-index: 1;
  width: 60px;
  height: 60px;
}
